
{% load static %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{% url 'homeURL' %}" style="font-family:'Times New Roman', Times, serif; font-size: 22px;">
        <!-- <img src="/docs/4.0/assets/brand/bootstrap-solid.svg" width="30" height="30" alt=""> -->
        My Client
      </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        {% if not user.is_authenticated %}
        <li class="nav-item active">
          <a class="nav-link text-right" href="{% url 'homeURL' %}">الرئيسية <span class="sr-only">(current)</span></a>
        </li>
        {% endif %}

        {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link text-right" href=""> لوحة التحكم </a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-right" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ user.username|truncatechars:15 }}
          </a>
          <div class="dropdown-menu text-right" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="">بيانات الحساب </a>
            <a class="dropdown-item" href=""> تغيير كلمة المرور </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{% url 'logout' %}">خروج</a>
          </div>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-right" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
             الإشتراك
          </a>
          <div class="dropdown-menu text-right" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href=""> إشتراكي  </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="">  تجديد الإشتراك  </a>
          </div>
        </li>

        <li class="nav-item">
          <a class="nav-link text-right" href="">الإشعارات  </a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-right" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            العملاء
          </a>
          <div class="dropdown-menu text-right" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href=""> أضف عميل  </a>
            <a class="dropdown-item" href="">  جميع العملاء  </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="">اضف تقييم لعميل</a>
            <a class="dropdown-item" href=""> إبحث عن تقييم العميل </a>
            
          </div>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-right" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            المخزن
          </a>
          <div class="dropdown-menu text-right" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{% url 'addProduct' %}">اضف منتج</a>
            <a class="dropdown-item" href=""> جميع المنتجات </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="">  جرد المخزن  </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{% url 'addProductSetting' %}">  إعدادات المنتجات </a>
          </div>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-right" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            الطلبات
          </a>
          <div class="dropdown-menu text-right" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{% url 'startOrder' %}"> أضف طلب  </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{% url 'allOrders' %}">  جميع الطلبات  </a>
          </div>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-right" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            إعدادات النظام
          </a>
          <div class="dropdown-menu text-right" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="">  شركات الشحن </a>
            <a class="dropdown-item" href=""> تكاليف الشحن </a>
            <a class="dropdown-item" href=""> حالات الطلب  </a>
            <a class="dropdown-item" href=""> قنوات البيع   </a>
            <a class="dropdown-item" href=""> طرق الدفع    </a>
          </div>
        </li> 

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-right" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
             الحسابات
          </a>
          <div class="dropdown-menu text-right" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="">   تقارير المشتريات </a>
            <a class="dropdown-item" href=""> فاتوره مشتريات جديده   </a>
            <a class="dropdown-item" href="">  سند صرف نقديه   </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="">   تقارير المبيعات </a>
            <a class="dropdown-item" href=""> سند قبض نقديه   </a>
            <a class="dropdown-item" href="">   كشف حساب شركات الشحن   </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="">  تحليلي الأرباح   </a>
          </div>
        </li> 

        {% else %}
        <li class="nav-item">
          <a class="nav-link text-right" href=""> باقات الشحن </a>
        </li>
        <li class="nav-item text-right">
          <a class="nav-link" href="{% url 'loginURL' %}">تسجيل دخول</a> 
        </li>
        <li class="nav-item text-right">
          <a class="nav-link" href="">  إنشاء حساب</a> 
        </li>
        {% endif %}
        
      </ul>
      
    </div>
  </nav>