
{% load static %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{% url 'homeURL' %}" style="font-family:'Times New Roman', Times, serif; font-size: 22px;">
        <!-- <img src="/docs/4.0/assets/brand/bootstrap-solid.svg" width="30" height="30" alt=""> -->
        My Client
      </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        {% if not user.is_authenticated %}
        <li class="nav-item active">
          <a class="nav-link text-right" href="{% url 'homeURL' %}">الرئيسية <span class="sr-only">(current)</span></a>
        </li>
        {% endif %}

        {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link text-right" href=""> لوحة التحكم </a>
        </li>

        <li class="nav-item">
          <a class="nav-link text-right" href="">  محفظتي  </a>
        </li>
        {% endif %}

        <li class="nav-item">
          <a class="nav-link text-right" href="">باقات الشحن </a>
        </li>
        
        {% if user.is_authenticated %}

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-right" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            الخدمات
          </a>
          <div class="dropdown-menu text-right" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="">اضف تقييم</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href=""> إبحث عن عميل </a>
          </div>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-right" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            المخزن
          </a>
          <div class="dropdown-menu text-right" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{% url 'addProduct' %}">اضف منتج</a>
            <a class="dropdown-item" href=""> عرض المنتجات </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="">  جرد المخزن  </a>
          </div>
        </li>
        
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-right" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ user.username|truncatechars:15 }}
          </a>
          <div class="dropdown-menu text-right" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="">البيانات الشخصية</a>
            <a class="dropdown-item" href=""> بيانات التواصل</a>
            <a class="dropdown-item" href=""> تغيير كلمة المرور </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{% url 'logout' %}">خروج</a>
          </div>
        </li>
        
        {% else %}
        <li class="nav-item text-right">
          <a class="nav-link" href="{% url 'loginURL' %}">تسجيل دخول</a> 
        </li>
        <li class="nav-item text-right">
          <a class="nav-link" href="">  إنشاء حساب</a> 
        </li>
        {% endif %}
      </ul>
      
    </div>
  </nav>