<div class="modal fade text-right" id="confirm-delete-modal" tabindex="-1" role="dialog" aria-labelledby="confirm-delete-label">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header" dir="rtl">
          <h5 class="modal-title" id="confirm-delete-label">تأكيد الحذف</h5>
        </div>
        <div class="modal-body">
            هل أنت متأكد أنك تريد حذف هذا الإعلان؟
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">لا</button>
          <button type="button" class="btn btn-danger" id="confirm-delete-btn">نعم</button>
        </div>
      </div>
    </div>
  </div>
  