{% extends "app.html" %}

{% load crispy_forms_tags %}
{% load static %}


{% block content %}


<div class="row text-center">
    <div class="col-md-12">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item ml-auto"><a href="{% url 'homeURL' %}">الرئيسية</a></li>
              <li class="breadcrumb-item active" aria-current="page"><a href="{% url 'allOrders' %}"> جميع الطلبات  </a></li>
              <li class="breadcrumb-item active" aria-current="page"> أضف طلب </li>
            </ol>
        </nav>
    </div>
</div>


<div class="row text-center">

    <div class="col-md-10 offset-md-1 text-center">
        <h1> <b> بيانات الطلب </b> </h1>
        <hr><br>
    </div>
</div>

<div class="row text-center" >

    <div class="col-md-10 offset-md-1">
        <h3> <b>  أضف منتج إلي السلة</b> </h3>

        <div class="row" dir="rtl">
        

            <div class="col text-right" dir="rtl" style="overflow-x: scroll;">
              {% if products %}
                <table class="table table-striped" style="max-width: none;">
                    <thead>
                        <tr>
                          <th class="align-middle" style="max-width: 100%; white-space: nowrap;">إسم الفئة</th>
                          <th class="align-middle" style="max-width: 100%; white-space: nowrap;">إسم المنتج</th>
                          <th class="align-middle" style="max-width: 100%; white-space: nowrap;">الوحدة </th>
                          <th class="align-middle" style="max-width: 100%; white-space: nowrap;">الكمية </th>
                          <th class="align-middle" style="max-width: 100%; white-space: nowrap;">التكلفة </th>
                          <th class="align-middle" style="max-width: 100%; white-space: nowrap;">السعر </th>
                          <th class="align-middle" style="max-width: 100%; white-space: nowrap;">الخصم </th>
                          <th class="align-middle" style="max-width: 100%; white-space: nowrap;">نوع المتغير الأول </th>
                          <th class="align-middle" style="max-width: 100%; white-space: nowrap;">إسم المتغير الأول </th>
                          <th class="align-middle" style="max-width: 100%; white-space: nowrap;">نوع المتغير الثاني </th>
                          <th class="align-middle" style="max-width: 100%; white-space: nowrap;">إسم المتغير الثاني </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for p in products %}
                          <tr onclick="window.location='{% url link ouid p.id %}';" style="cursor:pointer;">
    
                            <td class="align-middle" style="max-width: 100%; white-space: nowrap;"><b> {{p.category}} </b></td>
                            <td class="align-middle" style="max-width: 100%; white-space: nowrap;"><b> {{p.name}} </b></td>
                            <td class="align-middle" style="max-width: 100%; white-space: nowrap;"><b> {{p.unit}} </b></td>
                            <td class="align-middle" style="max-width: 100%; white-space: nowrap;">
                                <span class="badge badge-pill badge-{% if p.quantity > 0 %}info{% else %}danger{%endif%}">
                                    {{p.quantity}}
                                </span>
                            </td>
                            <td class="align-middle" style="max-width: 100%; white-space: nowrap;"><b> {{p.cost}} </b></td>
                            <td class="align-middle" style="max-width: 100%; white-space: nowrap;"><b> {{p.price}} </b></td>
                            <td class="align-middle" style="max-width: 100%; white-space: nowrap;"><b> {{p.discount}} </b></td>
                            <td class="align-middle" style="max-width: 100%; white-space: nowrap;"><b> {{p.variant1}} </b></td>
                            <td class="align-middle" style="max-width: 100%; white-space: nowrap;"><b> {{p.variant_option1}} </b></td>
                            <td class="align-middle" style="max-width: 100%; white-space: nowrap;"><b> {{p.variant2}} </b></td>
                            <td class="align-middle" style="max-width: 100%; white-space: nowrap;"><b> {{p.variant_option2}} </b></td>
                            
                          </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% else %}
                  <h3 class="text-center" style="margin-top: 50px;"><b>لا يوجد منتجات </b></h3>
                {% endif %}
            </div>
    
        </div>
       
        <hr>
        <div class="row text-center">
            <div class="col">
                <a href="{% url 'addOrderShippingDetail' ouid %}"> <button class="btn-outline-info btn-lg btn-block" > بيانات الشحن </button> </a>
            </div>
            <div class="col">
                <a href="{% url 'showAllOrderProducts' ouid %}"> <button class="btn-outline-primary btn-lg btn-block" > 
                    <i class="fa-solid fa-cart-shopping fa-flip-horizontal fa-lg"></i>
                </button> </a>
            </div>
        </div>
        <hr>
    </div>    

</div>


{% endblock content %}