{% extends "app.html" %}

{% load crispy_forms_tags %}
{% load static %}


{% block content %}


<div class="row text-center">
    <div class="col-md-12">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item ml-auto"><a href="{% url 'homeURL' %}">الرئيسية</a></li>
              <li class="breadcrumb-item active" aria-current="page"><a href="{% url 'allOrders' %}"> جميع الطلبات  </a></li>
              <li class="breadcrumb-item active" aria-current="page"> أضف طلب </li>
            </ol>
        </nav>
    </div>
</div>


<div class="row text-center">

    <div class="col-md-6 offset-md-3 text-center">
        <h1> <b> بيانات الطلب  </b> </h1>
        <hr><br>
    </div>
</div>

<div class="row text-center" >

    <div class="col-md-6 offset-md-3">
        <h3> <b> أضف بيانات الشحن </b> </h3>
        <hr>

        <form method="POST" action="{% url 'addOrderShippingDetail' ouid %}" dir="rtl">
            {% csrf_token %}
            {{ form.media.js }}
            
            {{form|crispy}}

            <div class="alert alert-warning" role="alert" id="showShippingCost">
                
            </div>
            
            <hr>
            <button type="submit" class="btn-outline-success btn-lg btn-block" > <i class="fa-solid fa-floppy-disk fa-beat fa-lg"></i>  </button>
        </form>
        
        
        <hr>
        <div class="row text-center">
            <div class="col">
                <a href="{% url 'addOrderClientDetail' ouid %}"> <button class="btn-outline-primary btn-lg btn-block" > بيانات العميل </button> </a>
            </div>
            <div class="col">
                <a href="{% url 'showAllProducts' ouid %}"> <button class="btn-outline-info btn-lg btn-block" > جميع منتجاتي  </button> </a>
            </div>
        </div>
        <hr>
        
    </div>    

</div>


{% endblock content %}