{% extends "appC.html" %}

{% block content %}

<!-- Start Page Header -->

<div class="row">
  <div class="col-md-4 offset-md-4">

    <div class="text-right">
      <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item ml-auto"><a href="{% url 'homeURLC' %}">الرئيسية</a></li>
            <li class="breadcrumb-item active" aria-current="page">أرسلت إعادة تعيين كلمة المرور</li>
          </ol>
        </nav>
    </div>

    <div class="card" style="margin-top: 80px; margin-bottom: 30px;">
      <h3 class="card-header text-center">أرسلت إعادة تعيين كلمة المرور </h3>

      <div class="card-body text-right" dir="rtl">

        <p>لقد أرسلنا إليك عبر البريد الإلكتروني تعليمات لإعداد كلمة المرور الخاصة بك ، إذا كان هناك حساب بالبريد الإلكتروني الذي أدخلته يجب أن تستقبل الرسالة قريبًا.</p>
        <p>إذا لم تتلق بريدًا إلكترونيًا ، فالرجاء التأكد من إدخال البريد الذي قمت بالتسجيل به والتحقق من صندوق البريد الخاص بك.</p>

      </div>
    </div>

  </div>
</div>

<!-- End Content -->

{% endblock content %}