{% extends "appC.html" %}

{% block content %}

<!-- Start Page Header -->

<div class="row">
  <div class="col-md-4 offset-md-4">

    <div class="text-right">
      <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item ml-auto"><a href="{% url 'homeURLC' %}">الرئيسية</a></li>
            <li class="breadcrumb-item active" aria-current="page">إعادة تعيين كلمة المرور تمت</li>
          </ol>
        </nav>
    </div>

    <div class="card" style="margin-top: 80px; margin-bottom: 30px;">
      <h3 class="card-header text-center">إعادة تعيين كلمة المرور تمت</h3>
      <div class="card-body">

        <div class="row">

          <div class="col text-center">
            <p style="font-size: 15px;"><strong>تم تعيين كلمة المرور الخاصة بك. بالامكان الاستمرار وتسجيل الدخول</strong></p>
            <a style="font-size: 13px" href="{% url 'loginURLC' %}">تسجيل الدخول</a>
          </div>

        </div>

      </div>
    </div>

  </div>
</div>

<!-- End Content -->

{% endblock content %}