{% extends "appC.html" %}

{% block content %}

<!-- Start Page Header -->

<div class="row">
    <div class="col-md-4 offset-md-4">

        <div class="text-right">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item ml-auto"><a href="{% url 'homeURLC' %}">الرئيسية</a></li>
                  <li class="breadcrumb-item active" aria-current="page">تأكيد كلمة المرور</li>
                </ol>
              </nav>
        </div>

        <div class="card" style="margin-top: 80px; margin-bottom: 30px;">
            <h3 class="card-header text-center">تأكيد كلمة المرور</h3>
            <div class="card-body text-right">

                <form method="POST" dir="rtl">
                    {% csrf_token %}

                    <div class="form-group">
                        <label for="id_new_password1">كلمة مرور جديدة</label>
                        <input type="password" class="form-control" id="id_new_password1" name="new_password1"
                            placeholder="أدخل كلمة المرور الجديدة" required>
                        {% for error in form.new_password1.errors %}
                        <p style="color: red; margin-top: 5px; font-size: 15px;"><i> {{ error }}</i></p>
                        {% endfor %}
                    </div>

                    <div class="form-group">
                        <label for="id_new_password2">تأكيد كلمة المرور</label>
                        <input type="password" class="form-control" id="id_new_password2" name="new_password2"
                            placeholder="تأكيد كلمة المرور الجديدة" required>
                        {% for error in form.new_password2.errors %}
                        <p style="color: red; margin-top: 5px; font-size: 15px;"><i> {{ error }}</i></p>
                        {% endfor %}
                    </div>

                    <button type="submit" class="btn btn-primary btn-lg btn-block">تغيير كلمة المرور الخاصة بي</button>
                </form>

            </div>
        </div>

    </div>
</div>

<!-- End Content -->

{% endblock content %}