{% extends "appC.html" %}

{% load crispy_forms_tags %}
{% load humanize %}

{% block content %}

<div class="row text-center">
    <div class="col-md-8 offset-md-2">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item ml-auto"><a href="{% url 'homeURLC' %}">الرئيسية</a></li>
              <li class="breadcrumb-item active" aria-current="page"> <a href="{% url 'registerC' %}">  إنشاء حساب   </a> </li>
              <li class="breadcrumb-item active" aria-current="page">   شروط الخصوصية والإستخدام   </li>
            </ol>
        </nav>
    </div>
</div>

<div class="container mt-4 text-right" >
    
    

</div>


{% endblock %}