{% extends "app.html" %}

{% load crispy_forms_tags %}


{% block content %}

<div class="row text-center">
    <div class="col-md-12">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item ml-auto"><a href="{% url 'homeURL' %}">الرئيسية</a></li>
              <li class="breadcrumb-item active" aria-current="page"> <a href="">  إنشاء حساب   </a> </li>
              <li class="breadcrumb-item active" aria-current="page">   سياسة الشحن والإسترجاع  </li>
            </ol>
        </nav>
    </div>
</div>

<div class="container mt-4 text-right" >
    
    

</div>


{% endblock %}