{% extends "app.html" %}

{% load crispy_forms_tags %}
{% load static %}


{% block content %}


<div class="row text-center">
    <div class="col-md-12">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item ml-auto"><a href="{% url 'homeURL' %}">الرئيسية</a></li>
              <li class="breadcrumb-item active" aria-current="page"><a href=""> جميع الطلبات  </a></li>
              <li class="breadcrumb-item active" aria-current="page"> أضف طلب </li>
            </ol>
        </nav>
    </div>
</div>


<div class="row text-center">

    <div class="col-md-6 offset-md-3 text-center">
        <h1> <b> أضف طلب جديد </b> </h1>
        <hr><br>
    </div>
</div>

<div class="row text-center" >

    <div class="col-md-6 offset-md-3">
        
        <form method="POST" action="{% url 'startOrder' %}" dir="rtl">
            {% csrf_token %}
           
            <div id="loading">
                <i class="fa-solid fa-spinner fa-spin-pulse fa-2xl"></i><br><br>
            </div>
            

            <button id="startOrder" type="submit" class="btn-primary btn-lg btn-block" onclick="showloading()"> إبدء  </button>
            <hr>
        </form>
        
    </div>    

</div>


{% endblock content %}